.noPaymentDueBlock {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 5px;

    grid-area: B;
}

.reason {
    color: var(--font-light-color);
}

.checkBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin-left: auto;

    border-radius: 50%;

    background-color: var(--bg-page-color);
}

.icon {
    width: 20px;
    height: 20px;
    fill: black;
}