.cardBalanceBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    grid-area: A;

    min-height: max-content;
}

.balance {
    font-size: 24px;
}

.availableMoney {
    color: var(--font-light-color);
}