:root {
    --main-font-family: 'Roboto', sans-serif;
    --font-dark-color: #000000;
    --font-light-color: #b3b3b3;
    --bg-block-color: #FEFEFE;
    --bg-page-color: #F2F2F6;
    --bg-icon-color: #585858;
    /* --transition-for-all: all cubic-bezier(0.075, 0.82, 0.165, 1) 1500ms; */
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: inherit;
}

body {
    margin: 0;

    font-family: var(--main-font-family);
    font-size: 14px;

    color: var(--font-dark-color);
    letter-spacing: 0.04em;
    max-width: 100%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

button {
    display: block;
    padding: 0;
    cursor: pointer;
}

nav {
    padding: 0;
}

section {
    min-height: 100vh;
}

.block {
    padding: 10px;
    border-radius: 5px;

    background-color: var(--bg-block-color);
}

.title {
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 768px;

    padding: 40px 15px;
    margin: 0 auto;

    background-color: var(--bg-page-color);
}